# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ cicd ]
  pull_request:
    branches: [ main ]

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # so that spotless can ratchet; see https://github.com/diffplug/spotless/issues/710
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Run build with Gradle Wrapper
        run: ./gradlew build expectedTestOutputsMustCompile
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Checkout specimin-evaluation repository
        uses: actions/checkout@v3
        with:
         repository: tahiat/specimin-evaluation
         path: specimin-evaluation
      - name: Run evaluation script
        run: |
          cd specimin-evaluation
      - name: Check evaluation status
        run: diff -iq src/test/resources/target_status.json specimin-evaluation/ISSUES/target_status.json
